body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: black;
    height: 90vh;
    margin: 0;
    justify-content: center;
}
h1{
    color: white;
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 10px;
    margin-top: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border: 1px solid #ddd;
    background-color: #ccc;
}

.cell.correct {
    background-color: #6aaa64;
}

.cell.present {
    background-color: #c9b458;
}

.cell.absent {
    background-color: #787c7e;
}

.input-container {
    margin-top: 20px;
    text-align: center;
}

input {
    font-size: 1em;
    padding: 10px;
    margin-right: 10px;
    width: 250px;
    text-align: center;
}

button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}
#result{
    margin-top: 20px;
    color:white;
    font-weight: bolder;
    font-size: 1.5em;
}